$primary-color: #32b089;
$text-color-bg-primary: rgb(233, 233, 233);
$text-color: #444544;

:root {
  --text-primary: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-disabled: rgba(255, 255, 255, 0.38);
  --action-active: rgba(255, 255, 255, 0.54);
  --action-hover: rgba(255, 255, 255, 0.04);
  --action-selected: rgba(255, 255, 255, 0.08);
  --action-disabled: rgba(255, 255, 255, 0.26);
  --action-disabledBackground: rgba(255, 255, 255, 0.12);
  --background-default: #0d1117;
  --background-darker: #010409;
  --divider: rgba(255, 255, 255, 0.12);

  --color-primary: #1a73e8;
  --color-primary-hover: #1565c0;
  --color-primary-active: #0d47a1;
  --color-secondary: #ff9800;
  --color-secondary-hover: #f57c00;
  --color-secondary-active: #e65100;

  --boxShadow-thin: inset 0 0 0 max(1px, 0.0625rem);
  --boxShadow-thick: inset 0 0 0 max(2px, 0.125rem);
  --boxShadow-thicker: inset 0 0 0 max(4px, 0.25rem);
  --borderWidth-thin: max(1px, 0.0625rem);
  --borderWidth-thick: max(2px, 0.125rem);
  --borderWidth-thicker: max(4px, 0.25rem);
  --borderRadius-small: 3px;
  --borderRadius-medium: 6px;
  --borderRadius-large: 12px;
  --borderRadius-full: 100vh;
  --outline-focus-offset: -0.125rem;
  --outline-focus-width: 0.125rem;

  --color-canvas-default: #0d1117;
  --color-canvas-overlay: #161b22;
  --color-canvas-inset: #010409;
  --color-canvas-subtle: #161b22;
  --color-border-default: #30363d;
  --color-border-muted: #21262d;
  --color-border-subtle: rgba(240, 246, 252, 0.1);
  --color-fluke-blue: #5dacbd;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;

  &,
  body {
    color: var(--text-primary);
    min-height: 100vh;
    background-color: var(--background-default);
  }
}

header {
  color: var(--color-fg-default);
  background: var(--color-canvas-inset);
  box-shadow: inset 0 calc(var(--borderWidth-thin, 1px) * -1)
    var(--color-border-default);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
  color: var(--text-primary);
}

p,
a,
span,
li {
  color: var(--text-secondary);
}

.disabled {
  color: var(--text-disabled);
}

button {
  background-color: var(--color-canvas-overlay) !important;
  color: var(--text-primary);
  text-align: center;
  border-width: var(--borderWidth-thin) !important;
  border-color: var(--color-border-default) !important;
  text-decoration: none;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: var(--color-primary-hover);
    cursor: pointer;
  }

  &:active {
    background-color: var(--color-primary-active);
    transform: scale(0.95);
    transition: background-color 0.1s ease, transform 0.1s ease;
  }

  &:disabled {
    color: var(--action-disabled);
    background-color: var(--action-disabledBackground);
  }
}

.divider {
  border-color: var(--divider);
}

#outer,
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  max-width: 50vw;
}

#links {
  width: 100%;
  text-align: center;
}

.poem {
  padding: 2rem;
  color: var(--color-fluke-blue);
  font-family: monospace;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  white-space: pre-wrap;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wrapper {
  width: 70%;
  margin: auto;
}

#title {
  font-size: 2rem;
  text-align: center;
}

.nav-item {
  display: inline-block;
  padding: 10px;

  &:hover {
    background-color: #ddd;
    color: black;
  }

  &:active {
    background-color: #4caf50;
    color: white;
  }
}

.nav-link {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.registration-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #232323;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

label {
  padding: 10px;
  color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.error-text {
  grid-column: span 2;
  color: #ff0000;
}

.fluke-blue {
  color: var(--color-fluke-blue);
}
.nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;

  .logo {
    float: left;
    margin-left: 2%;
    width: 10%;
    .logo-img {
      width: 50px;
    }
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    width: 70%;
    .nav-item {
      cursor: pointer;
      width: 30%;
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: $text-color;
        margin: 0;
        text-align: center;
        &:hover {
          color: $primary-color;
        }
      }
      &:hover {
        color: $primary-color;
      }
    }
  }

  .nav-social-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    width: 20%;
    .nav-item {
      cursor: pointer;
      width: 25%;
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: $text-color;
        margin: 0;
        text-align: center;
        &:hover {
          color: $primary-color;
        }
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
}